{% extends "plantilla_base.html" %}

{% if libro_e %}
	{% set libro=libro_e %}
{% else %}
    {% set libro="Nuevo libro" %}
{% endif %}

{% block titulo %}Formulario Libro: {{libro.id}} {% endblock %}

{% block contenido %}
	<h1>Formulario Libro: {{libro.id}} <h1>
	<div class="container container-sm">
		<form action="" method="post">
		  <div class="mb-3">
		    <label for="titulo" class="form-label">Título del libro</label>
		    <input type="text" class="form-control" id="titulo" name="titulo" value="{{libro.titulo}}">
		  </div>
		  <div class="mb-3">
		    <label for="descripcion" class="form-label">Descripción</label>
		    <input type="text-area" class="form-control" id="descripcion" name="descripcion" value="{{libro.descripcion}}">
		  </div>
		  <button type="submit" class="btn btn-primary">Guardar</button>
		</form>
	</div>
{% endblock %}